[user]
	email = timothy@mahon.dev
	name = Tim Mahon
[core]
	filemode = false
	autocrlf = input
	trustctime = false
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[rebase]
	updateRefs = true
	committerDateIsAuthorDate = true
[alias]
	rebase-as-author = "\\!f() { git -c \"user.name=$(git log -1 --pretty=format:%an)\" -c \"user.email=$(git log -1 --pretty=format:%ae)\" rebase \"$@\"; }; f"
	rebase-preserve = \\!git rebase \"$@\" --exec \"git commit --amend --reset-author --no-edit\"
[include]
	path = ~/.gitconfig.work
